.parent {
  height: auto;
  vertical-align: middle;
  .child {
    height: auto;
    width: auto;
  }
}

.myAuto {
  margin-top: auto;
  margin-bottom: auto;
}

.countBar {
  width: 130px;
  display: flex;
  justify-content: space-between;

  .countNumber {
    margin: auto;
  }
}

.noItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.totalAmount {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.orderWrap {
  width: 100%;
  height: 150px;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .orderBtn {
    margin-bottom: 50px;
  }
}

.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000080;
  z-index: 10000;

  .orderModal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 450px;
    height: 220px;
    left: 35%;
    top: 30%;

    .ok {
      cursor: pointer;
    }

    .smallFont {
      font-size: 14px;
    }
  }
}

.my-alert2 {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: #ffe591;
}

.shoePic {
  width: 170px;
}
