.myAuto {
  margin-top: auto;
  margin-bottom: auto;
}

.productTitle {
  margin-top: 35px;
}

.marginn {
  margin-left: 15px;
  margin-top: 35px;
}

.countBar {
  width: 110px;
  display: flex;
  justify-content: space-between;

  .countNumber {
    margin: auto;
  }
}

.totalAmount {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.my-alert2 {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: #ffe591;
}

.shoePic {
  width: 170px;
}
