.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 1000ms;
}

.describeBox {
  margin: 40px auto;
}
.describeText {
  width: 650px;
  margin: auto;
  padding-bottom: 60px;
}

.container {
  text-align: center;
}

.my-alert {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert2 {
  @extend .my-alert;
  background: #0e6efe53;
}

// @mixin 함수 {
//   background-color: #eeeeee;
//   padding: 20px;
//   border-radius: 5px;
//   max-width: 500px;
//   width: 100%;
//   margin: auto;
// }

.my-alert p {
  margin-bottom: 0;
}

.arrow {
  color: gray;
  cursor: pointer;
}

.arrow:hover {
  color: black;
}
