.recentlyViewedBox {
  margin: 20px auto;
  width: 100%;
  height: 170px;
  color: black;
  background-color: #f7f9fb;
  display: flex;
  border-radius: 7px;

  .row {
    justify-content: center;
    align-items: center;

    .innerBox {
      padding: 3px;

      img {
        border-radius: 7px;
        cursor: pointer;
        transition: transform 0.2s; /* Animation */
      }

      img:hover {
        transform: scale(1.15);
      }
    }

    .innerBox:first-child {
      margin-left: 30px;
    }
  }
}

img {
  width: 100%;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 1000ms;
}

.describeBox {
  margin-top: 40px;
}
.describeText {
  width: 650px;
  margin: auto;
  padding: 130px 0px;
}

.container {
  text-align: center;
}

.my-alert {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert2 {
  @extend .my-alert;
  background: #0e6efe53;
}

// @mixin 함수 {
//   background-color: #eeeeee;
//   padding: 20px;
//   border-radius: 5px;
//   max-width: 500px;
//   width: 100%;
//   margin: auto;
// }

.my-alert p {
  margin-bottom: 0;
}

.arrow {
  color: gray;
  cursor: pointer;
}

.arrow:hover {
  color: black;
}
